/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #221F1F;
    margin: 0 auto;
    width: 1440px;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    color: #fff;
}

.h-name {
    font-size: 1.2rem;
    transition: .4s;
}

.h-name:hover {
    font-size: 1.3rem;
    color: #3b35a9;
    cursor: default;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin: 0 8px;
    list-style: none;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: .4s;
}

header nav ul li a:hover {
    color: #3b35a9;
    text-decoration: none;
}

.social-links a {
    background-color: #3b35a9;
    color: #fff;
    padding: .4rem .6rem;
    border-radius: 100%;
    font-size: .9rem;
    margin: 0 4px;
    transition: .4s;
}

.social-links a:hover {
    background-color: #5048f3;
    color: #fff;
    padding: .5rem .8rem;
    font-size: 1rem;
}

/* Main */
section, #contact {
    padding: 0 9rem;
    color: #fff;
    margin-bottom: 2rem;
}

#banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 5rem;
    color: #fff;
}

#banner img {
    width: 300px;
    border-radius: 50%;
}

.txt-2 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #5048f3;
    transition: .4s;
}

.txt-2:hover {
    font-weight: bold;
    font-size: 2.5rem;
    color: #3b35a9;
}

.txt-3 {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    transition: .4s;
}

.txt-3:hover {
    color: #5048f3;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: flex-start;
    font-size: 1.7rem;
    font-weight: bold;
    color: #5048f3;
    transition: .4s;
    margin-bottom: 1rem;
}

.title:hover {
    color: #3b35a9;
    cursor: default;
}

.content {
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10rem;
    margin: 1.5rem 0;
}

.s-title {
    font-size: 1.3rem;
}

.s-paragraph {
    color: #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

#works img {
    width: 350px;
}

#work-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.work-ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact form input, textarea {
    padding: .5rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    color: #fff;
}

#contact button {
    background-color: #5048f3;
    width: 100%;
    padding: .5rem;
    border: none;
    color: #fff;
    transition: .4s;
}

#contact button:hover {
    background-color: #3b35a9;
    cursor: pointer;
}

@media (max-width: 1440px) {
    body {
        width: auto;
    }
}